@font-face {
    font-family: 'clinica_proregular';
    src: url('clinicapro-regular-webfont.eot');
    src: url('clinicapro-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('clinicapro-regular-webfont.woff') format('woff'),
         url('clinicapro-regular-webfont.ttf') format('truetype'),
         url('clinicapro-regular-webfont.svg#clinica_proregular') format('svg');
    font-weight: normal;
    font-style: normal;

}